@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Vidify! </h1>
    <p class="lead">The premier platform to rent movies!</p>
    <p>@Html.ActionLink("Sign Up Today!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Us?</h2>
        <p>
            At Vidify, we pride ourselves on offering the best service possible to ou customers. That is why we offer thousands of movies
            at the best prices! 
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>Register today to get acess to thousands of movies. Once you sign up you will be able to get in toucxh with us to get access to your 
        favorite movies!</p>
        
    </div>
    <div class="col-md-4">
        <h2>Connect with Us</h2>
        <p>Connect with us on facebook to interact us! </p>
        <p><a class="btn btn-default" href="Facebook.com">Get Connected &raquo;</a></p>
    </div>
</div>
