<appSettings>
  <add key="MailServer" value="dev-smtp.vidify.com"/>
  <add key ="FacebookAppId" value="308802267197998"/>
  <add key ="FacebookAppSecret" value="2a18f1425d00b62916b1a55e2f60942c"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>